
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<h3>Reviews</h3>

<% @restaurant.reviews.each do |r| %>
  <br>
  <h4>Review</h4>
  <p> <%= r.content %></p>
  <h4>Rating</h4>
  <p> <%= r.rating %></p>
  <br>
<% end %>

<%= link_to 'Add Review', new_restaurant_review_path(@restaurant) %> |
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
